body {
    background-color: #1E0960;
}

.buttonCheckWeather {
    color: #2DE1C2;
    border: 1px solid #FFFFFF;
}

.labelCityAndCountry {
    font-size: 25px;
}

.labelWind, .labelLocation {
    color: #2DE1C2;
}

.labelCityAndCountry, .labelTemperature, .labelPressure, .labelWindSpeed, .labelWindDegrees, .labelLocationLongitude, .labelLocationLatitude {
    color: #FFFFFF;
}

.v-reconnect-dialog {
    color: #FFF;
    border: 1px solid #FFF;
}